/*body {
  background: #3e3e9c;
  color: #e77a7a;
  font-family: 'Josefin Sans', sans-serif;
}*/

.separator {
  width: 30%;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  
  a {
    color: #DB4D57;
    
    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
  
  hr {
    width: 75%;
  }
}

.summary {
  padding: 20px;
  
  p {
    font-size: 1.6rem;
    letter-spacing: .2rem;
  }
}


.work-experience {
  padding: 20px;
  
  .experience-title {
    margin-top: 50px;
  }
  
  .experience-summary {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  p {
    font-size: 1.6rem;
    letter-spacing: .2rem;
  }
}

.list-inline {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
}

.center {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
}

.row {
  display: flex;        /* active flexbox */
  gap: 1rem;            /* espace entre colonnes */
}

button {
  background: none;       /* enlève le fond par défaut */
  border: none;           /* enlève la bordure grise */
  padding: 0;             /* enlève les espaces internes */
  cursor: pointer;        /* change le curseur en main au survol */
  width: 25px; 
}

button img {
  width: 25px;            /* ajuste la taille de l’image (modifie selon besoin) */
  height: auto;           /* garde le ratio de l'image */
  display: block;         /* évite l’espace blanc autour de l’image */
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pj\\banniereAccueil.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}